.download-cv {
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 0.4rem;

    font-size: 0.95rem;
    font-weight: 500;

    color: #cfd8dc;
    text-decoration: none;

    padding-bottom: 4px;

    transition: color 0.2s ease;
}

.download-cv svg {
    transition: transform 0.2s ease;
}

/* underline */
.download-cv::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;

    width: 0%;
    height: 1px;

    background-color: #2dd4bf;
    transition: width 0.25s ease;
}

.download-cv:hover {
    color: #ffffff;
}

.download-cv:hover::after {
    width: 100%;
}

.download-cv:hover svg {
    transform: translate(2px, 2px);
}